config/secrets.php

config/koneksi.php
config/database.php

database/*.sql
database/backup_*.sql
database/arsip_2026/
migrations/

uploads/
TODO.md

logs/
phinx.php
laporan.md
OPENCODE.md
database/
config/
cli/
assets/img
auth/
vendor/
composer.lock
CLAUDE.MD