config/
database/*.sql
database/backup_*.sql
database/arsip_2026/
migrations/
auth/
uploads/
TODO.md
logs/
phinx.php
laporan.md
OPENCODE.md
database/
cli/
assets/img
vendor/
composer.lock
CLAUDE.MD
chat/
BUG.md
DUMMY_REPORT.md
.htaccess
/erd.md
/prd.md